<%= form_for(@path, :url => @url) do |f| %>
  <% if @participation.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</p>

      <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :player_id %>
      <%= f.select :player_id, options_from_collection_for_select(@all_players, 'id', 'name', @participation.player_id), {prompt: 'Select Player'} %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :role_id %>
      <%= f.select :role_id, options_from_collection_for_select(@game_roles, 'id', 'name', @participation.role_id), {prompt: 'Select Role'} %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :score %>
      <%= f.number_field :score, value: '0' %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.hidden_field :session_id %>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
