<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</p>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :game_id  %>
      <%= f.select :game_id, options_from_collection_for_select(@all_games, 'id', 'name', @session.game_id), {prompt: 'Select Game'} %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :is_stalemate %>
      <%= f.check_box :is_stalemate %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :date %>
      <%= f.text_field :date,  "type" => "datetime-local", "data-clear-btn" => "false", "value" => @session.date.strftime("%Y-%m-%dT%H:%M") %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.submit %>
    </li>
  </ul>

<% end %>
