<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</p>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui-body">
    <%= f.select :game_id, options_from_collection_for_select(@all_games, 'id', 'name', @session.game_id), {prompt: 'Select Game'} %>
    <%= f.label :is_stalemate %>
    <%= f.check_box :is_stalemate %>

    <%= f.label 'Players & scores' %>
    <div class="ui-grid-b ui-responsive">
    <%= f.fields_for :participations do |p| %>
      <div class="ui-block-a">
        <%= p.select :player_id, options_from_collection_for_select(@all_players, 'id', 'name', p.object.player_id), {prompt: 'Select Player'} %>
      </div>
      <div class="ui-block-b">
        <%= p.select :role_id, options_from_collection_for_select(@game_roles, 'id', 'name', p.object.role_id), {prompt: 'Select Role'} %>
      </div>
      <div class="ui-block-c">
        <%= p.number_field :score, value: '0' %>
      </div>
    <% end %>
    </div>

    <%= f.label :comments %>
    <%= f.text_area :comments %>
    <%= f.label :date %>
    <%= f.text_field :date,  "type" => "datetime-local", "data-clear-btn" => "false", "value" => @session.date.strftime("%Y-%m-%dT%H:%M") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
