<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-role="fieldcontain">
    <%= f.select :game_id, options_for_select(@game_options, :selected => @session.game_id) %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date,  "type" => "datetime-local", "data-clear-btn" => "false", "value" => @session.date.strftime("%Y-%m-%dT%H:%M") %>
  </div>
  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :is_stalemate %>
    <%= f.check_box :is_stalemate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
