<% title 'Gêmkeeper' %>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
  <% @session_dates.each do |session_date, sessions| %>
    <li data-role="list-divider"><%= session_date.strftime("%A, %e %B %Y") %><span class="ui-li-count"><%= sessions.count %></span></li>
    <% sessions.each do |session| %>
      <li data-theme="c">
      <a href="<%= game_session_path(session) %>" data-transition="slide">
        <p class="ui-li-aside"><strong><%= session.date.strftime("%l:%M%p") %></strong></p>
        <h2><%= session.game.name %></h2>
        <p>"<%= session.comments %>"</p>
        <p><i>Players:</i> <%= session.players.map { |p| p.name }.join(", ") %></p>
      </a>
      </li>
    <% end %>
  <% end %>
  </ul>

</div>

