<div data-role="header">
  <%= link_to 'Back', new_session_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <%= link_to 'Edit', url_for(params), "data-icon" => "edit", "class" => "ui-btn-left" %>
  <h3>Session</h3>
</div>

<div data-role="content">
  <p id="notice"><%= notice %></p>

  <div>
    <h4>Game</h4>
    <p><%= @session.game.name %></p>
  </div>

  <div>
    <h4>Date</h4>
    <p><%= @session.date.strftime("%A, %e %B %Y %l:%M%p") %></p>
  </div>

  <div>
    <h4>Stalemate?</h4>
    <p><%= @session.is_stalemate %></p>
  </div>

  <div>
    <h4>Comments</h4>
    <p><%= @session.comments %></p>
  </div>

  <div>
    <h4>Players</h4>
    <% @session.participations.each do |p| %>
      <p><%= p.player.name %> (<%= p.role.name %>)</p>
    <% end %>
  </div>

</div>

