<div data-role="header">
  <%= link_to 'Edit', edit_game_session_path(@session), "data-icon" => "edit", "class" => "ui-btn-right" %>
  <%= link_to 'Back', game_sessions_path, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Session</h3>
  <%= render 'navbar' %>
</div>

<div data-role="content">
  <p id="notice" class="ui-bar-a ui-bar ui-corner-all" ><%= notice %></p>

  <h4 style="margin-bottom: 0;"><%= @session.game.name %></h4>
  <p style="margin-top: 0;"><i><%= @session.date.strftime("%A, %e %B %Y %l:%M%p") %></i></p>

  <div data-role="collapsible" data-collapsed="false" data-theme="a" data-content-theme="a">
    <h4>Participants</h4>
    <ul data-role="listview" data-inset="true">
      <% @session.participations.each do |p| %>
      <li data-icon="edit">
      <a href="<%= edit_participation_path(p) %>">
        <h2><%= p.player.name %></h2>
        <p class="ui-li-aside"><%= p.role.name %></p>
      </a>
      </li>
      <% end %>
      <li data-icon="plus" data-theme="b">
        <%= link_to 'Add New Participant', new_game_session_participation_path(@session) %>
      </li>
    </ul>
  </div>

  <div data-role="collapsible" data-collapsed="false" data-theme="a" data-content-theme="a">
    <h4>Comments</h4>
    <p><%= @session.comments %></p>
  </div>


</div>

