<div data-role="header">
  <%= link_to 'Back', new_session_path(resource_name), "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3>Gêmkeeper</h3>
</div>

<div data-role="content">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.submit "Reset password" %>
    </li>
  </ul>
<% end %>

</div>
