<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</p>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>

    <li class="ui-field-contain">
      <%= f.label :max_players %>
      <%= f.number_field :max_players %>
    </li>

    <li class="ui-body ui-body-b">
      <%= f.submit %>
    </li>
  </ul>

<% end %>
