<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</p>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui-body">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :roles do |r| %>
    <div class="ui-body">
      <label>Role</label>
      <%= r.text_field :name %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
