<div data-role="header">
  <%= link_to 'Add', new_game_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <%= link_to 'Refresh', url_for(params), "data-icon" => "refresh", "class" => "ui-btn-left" %>
  <h3>Gêmkeeper</h3>
  <%= render 'navbar' %>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
  <% @games.each do |game| %>
      <li data-theme="c">
      <a href="<%= game_path(game) %>" data-transition="slide">
        <h2><%= game.name %></h2>
      </a>
      </li>
  <% end %>
  </ul>
</div>

