<h1><%= @game.name %> (<%= link_to 'Edit', edit_game_path(@game) %>)</h1>

<p id="notice"><%= notice %></p>

<p>Total Sessions: <%= @total %></p>
<p>Wins: <%= @wins %></p>
<p>Losses: <%= @losses %></p>
<p>Overall Win Ratio: <%= @ratio %>%</p>

<p><%= link_to 'Sessions', sessions_path %></p>
