<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</p>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :name %>
      <%= f.text_field :name, "data-clear-btn" => "true" %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :email %>
      <%= f.text_field :email, "type" => "email", "data-clear-btn" => "true" %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.submit %>
    </li>
  </ul>
<% end %>
