<div data-role="header">
  <%= link_to 'Add', new_player_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <%= link_to 'Refresh', url_for(params), "data-icon" => "refresh", "class" => "ui-btn-left" %>
  <h3>Gêmkeeper</h3>
  <%= render 'navbar' %>
</div>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
    <% @players.each do |player| %>
      <li data-theme="c">
      <a href="<%= player_path(player) %>" data-transition="slide">
        <h2><%= player.name %></h2>
      </a>
      </li>
    <% end %>
  </ul>
</div>

