<div data-role="header">
  <%= link_to 'Edit', edit_player_path(@player), "data-icon" => "edit", "class" => "ui-btn-right" %>
  <%= link_to 'Back', players_path, "data-icon" => "back", "class" => "ui-btn-left" %>
  <h3><%= @player.name %></h3>
</div>

<div data-role="content">
  <p id="notice" class="ui-bar-a ui-bar ui-corner-all" ><%= notice %></p>

  <h4>Name</h4>
  <p><%= @player.name %></p>

  <h4>Email</h4>
  <p><%= @player.email %></p>

</div>
