<%= form_for( @path ) do |f| %>
  <% if @role.errors.any? %>
    <div id="error" class="ui-bar-b ui-bar ui-corner-all">
      <p><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</p>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul data-role="listview" data-inset="true">
    <li class="ui-field-contain">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.hidden_field :game_id %>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
