<div data-role="header">
  <%= link_to 'Back', :back, "data-icon" => "back", "class" => "ui-btn-left" %>
  <%= link_to 'Delete', registration_path(resource_name), method: :delete, data: { confirm: 'Are you sure?' }, "data-icon" => "minus", "class" => "ui-btn-right" %>
  <h3>Gêmkeeper</h3>
</div>

<div data-role="content">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <ul data-role="listview" data-inset="true">
    <!-- TODO: This should update the player's email as well -->
    <li class="ui-field-contain">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </li>
    <li class="ui-field-contain">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :password %> 
      <%= f.password_field :password, :autocomplete => "off" %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li class="ui-field-contain">
      <%= f.label :current_password %> 
      <%= f.password_field :current_password %>
    </li>
    <li class="ui-body ui-body-b">
      <%= f.submit "Update" %>
    </li>
  </ul>
<% end %>

</div>

